{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Second</title>
    <link rel="stylesheet" href="-{% static 'styles.css' %}">
</head>
<body>
    <div class="overlay"></div>
<div class="text">
<div class="wrapper">
<div id="T" class="letter">T</div>
<div class="shadow">T</div>
</div>
<div class="wrapper">
<div id="E" class="letter">E</div>
<div class="shadow">E</div>
</div>
<div class="wrapper">
<div id="X" class="letter">X</div>
<div class="shadow">X</div>
</div>
<div class="wrapper">
<div id="T" class="letter">T</div>
<div class="shadow">T</div>
</div>
</div>
</body>
</html>